
h1, h2, h3, h4, h5, h6, p {
    color: white;
    opacity: .9;
}

body {
    background: #333;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.page-container {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Navbar */
.navbar h2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    color: white;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;

    width: 100%;
    min-width: 100%;

    background-color: #444;
    margin: 0 auto;
}

.logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-align: center;
}

.logo {
    display: block;
    margin: auto;

    width: 70px;
    height: 70px;
}

.logo-text {
    margin-left: 20px;

    font-size: 30px;
    color: white;
    font-family: monospace;
}

nav {
    font-size: 14px;
    text-transform: uppercase;
    -ms-flex-line-pack: center;
    align-content: center;
}

nav a {
    position: relative;

    display: inline-block;
    vertical-align: top;

    margin-left: 20px;
    margin-right: 20px;

    text-decoration: none;
    color: white;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

nav a:hover {
    color: #0fc3f5;
}

/* container */
.container {
    display: block;

    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 1080px;

    position: relative;

    margin: 0;
}

/* Grid */
.grid {
    width: 100%;
    height: 100%;

    display: -ms-grid;

    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;

    max-width: 1080px;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 10px;
    color: white;

    background-color: rgba(0, 0, 0, .3);
}

.item h3 {
    float: left;
    display: block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    margin-left: 5px;
    margin-right: 5px;
}

.item div {
    margin-top: 5px;
}

/* About */
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100vw;
}

.about h1 {
    font-size: 15vw;
    font-family: serif;
    width: 100%;
    height: 50vw;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.about p {
    font-size: 3vw;
    height: 50vw;
}

@media screen and (max-width: 20cm) {
    .navbar {
        position: relative;
        display: -ms-grid;
        display: grid;
        grid-gap: 1em;

        -webkit-box-pack: center;

        -ms-flex-pack: center;

        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        text-align: center;
    }

    nav {
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-grid;
        display: grid;
        grid-gap: 1em;
        margin-bottom: 5px;
    }

    nav a {
        width: 100%;
    }

    .about {
        height: auto;
    }

    .about h1 {
        position: relative;
        top: 25%;
        height: 150vw;
    }

    .about p {
        height: 100vw;
        font-size: 24px;
        position: relative;
        top: 25%;
    }
}

.logo-text a {
    text-decoration: none;
    color: white;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.logo-text a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

.logo-text a:hover {
    color: #0fc3f5;
}