.container {
    margin-top: 25px;
    max-width: none;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 36px;
    margin: 20px auto;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/* User preferences */
.profile-avatar {
    position: relative;
    top: 25%;

    margin: 0 auto;
    border: #444 5px solid;
    background-color: #444;

    max-width: 400px;
    max-height: 400px;
}

.profile-avatar img {
    max-height: 400px;
    max-width: 400px;
}

.profile-settings {
    display: inline;
}

.profile-settings img {
    transition-timing-function: cubic-bezier(.1, .9, .9, 1);
    cursor: pointer;
    transition: 1s;
}

.profile-settings img:hover {
    transform: rotate(90deg);
    filter: invert(53%) sepia(83%) saturate(1392%) hue-rotate(158deg) brightness(107%) contrast(92%);
}

.username {
    width: 100%;

    background-color: #444;
    text-align: center;
    font-size: 64px;

    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

/* Room list */
.room-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(23vw, 1fr));
    justify-items: center;
}

.room {
    background-color: #444;
    width: 23vw;
}

.room h4 {
    font-size: 24px;
    text-align: center;
}

.room img {
    width: 100%;
}

.room div {
    font-size: 16px;
    color: white;
    margin: 10px auto;
}

@media screen and (max-width: 25cm) {
    .container {
        margin: auto;
    }

    .profile-avatar {
        overflow: hidden;

        max-width: 100vw;
        min-width: 100%;
        width: 100%;

        max-height: none;
        height: auto;
    }

    .profile-avatar img {
        overflow: hidden;

        max-width: 100vw;
        min-width: 100%;
        width: 100%;

        max-height: none;
        height: auto;
    }

    .room {
        width: 100%;
    }

    .room-grid {
        grid-template-columns: 1fr;
    }

    h3 {
        font-size: 64px;
    }

    .room h4 {
        font-size: 56px;
    }

    .room div {
        font-size: 24px;
    }
}