
.form h1 {
    margin: 40px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.input-form {
    margin: 25px 40px;
    text-align: center;
}